html, body { height: 100%; }

.pt-perspective {
	position: relative;
	width: 100%;
	height: 100%;
}

.pt-page {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	overflow: hidden;
	min-width: 1024px;
	min-height: 640px;
}

.pt-page-current {
	visibility: visible;
	z-index: 1;
}

.pt-page-1 {
	background: url(../pic/bgimg1.jpg);
	background-size: 100% 100%;
}
#page1_up {
	position: absolute;
	top: 0;
	margin: 0;
	padding: 0;
	display: block;
	width: 100%;
	height: 50%;
}

#page1_down {
	position: absolute;
	bottom: 0;
	margin: 0;
	padding: 0;
	display: block;
	width: 100%;
	height: 50%;
}

#up_edge {
	position: absolute;
	top: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 0;
}

#down_edge {
	position: absolute;
	bottom: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 0;
}

#logo_blue, #logo_tran {
	position: absolute;
	z-index: 10;
	width: 18%;
	top: 32%;
	left: 40%;
}

#logo_tran {
	display: none;
}

.pt-page-2 {
	background: url(../pic/bgimg1.jpg);
	background-size: 100% 100%;
}

#logo_h {
	width: 100%;
	height: 60%;
	position: absolute;
	top: 20%;
	z-index: 1;
}

#logo_v {
	width: 25px;
	height: 40%;
	display: none;
	position: absolute;
	top: 30%;
	left: 50%;
	z-index: 10;
}

.pt-page-3 {
	background: url(../pic/bgimg3.jpg);
	background-size: 100% 100%;
}

.items {
	width: 13px;
	position: absolute;
	margin-top: 20px;
}

#img31 {
	left: 29%;
}

#img32 {
	left: 36%;
}

#img33 {
	left: 43%;
}

#img34 {
	left: 50%;
}

#img35 {
	left: 57%;
}

.lines {
	position: absolute;
	top: 18px;
	width: 2px;
	height: 18%;
	display: none;
}

#line31 {
	left: 28%;
}

#line32 {
	left: 35%;
}

#line33 {
	left: 42%;
}

#line34 {
	left: 49%;
}

#line35 {
	left: 56%;
}

#blue_v3 {
	width: 100%;
	height: 55%;
	position: absolute;
	top: 24%;
	display: block;
	z-index: 1;
}

.photos {
	position: absolute;
	display: none;
	width: 70%;
	height: 55%;
	top: 24%;
	left: 15%;
	z-index:10;
}

.pt-page-4 {
	background: #fdc162;
}

.pt-page-5 {
	background: #fd6a62;
}

.pt-page-6 {
	background: url(../pic/bgimg6.jpg);
	background-size: 100% 100%;
}

.previous {
	width: 40px;
	cursor: pointer;
	position: absolute;
	z-index: 10;
	opacity: 0.4;
	top: 49%;
	left: 8%;
}

.next {
	width: 40px;
	cursor: pointer;
	position: absolute;
	z-index: 10;
	opacity: 0.4;
	top: 50%;
	left: 90%;
}

#next1, #next2, #previous1, #previous2{
	display: none;
	opacity: 0;
}

.previous:hover, .next:hover {
	-moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
