html, body { height: 100%; }

.pt-perspective {
	position: relative;
	width: 100%;
	height: 100%;
}

.pt-page {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	overflow: hidden;
	min-width: 1024px;
	min-height: 640px;
}

.pt-page-current{
	visibility: visible;
	z-index: 1;
}

.pt-page-1 {
	background: url(../pic/bgimg1.jpg);
	background-size: 100% 100%;
}
#page1_up{
	position: absolute;
	top: 0;
	margin: 0;
	padding: 0;
	display: block;
	width: 100%;
	height: 50%;
}

#page1_down{
	position: absolute;
	bottom: 0;
	margin: 0;
	padding: 0;
	display: block;
	width: 100%;
	height: 50%;
}

#up_edge{
	position: absolute;
	top: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 0;
}

#down_edge{
	position: absolute;
	bottom: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 0;
}

#logo_blue, #logo_tran{
	position: absolute;
	z-index: 10;
	width: 250px;
	top: 34%;
	left: 42%;
}

#logo_tran{
	display: none;
}

.pt-page-2 {
	background: url(../pic/bgimg2.jpg);
	background-size: 100% 100%;
}

#logo_h{
	width: 100%;
	height: 60%;
	position: absolute;
	top: 20%;
	z-index: 1;
}

#logo_v{
	width: 3%;
	height: 40%;
	display: none;
	position: absolute;
	top: 30%;
	left: 50%;
	z-index: 10;
}

.pt-page-3 {
	background: #60d7a9;
}

.pt-page-4 {
	background: #fdc162;
}

.pt-page-5 {
	background: #fd6a62;
}

.pt-touch-button {
	width: 40px;
	cursor: pointer;
	position: absolute;
	z-index: 10;
}

.pt-touch-button:hover{
	-moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.previous{
	opacity: 0;
	display: none;
	top: 49%;
	left: 10%;
}

.next{
	opacity: 0;
	display: none;
	top: 50%;
	left: 88%;
}
