html, body { height: 100%; }

.pt-perspective {
	position: relative;
	width: 100%;
	height: 100%;
}

.pt-page {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	overflow: hidden;
	min-width: 1366px;
	min-height: 768px;
}

.pt-page-current{
	visibility: visible;
	z-index: 1;
}

/*.pt-page h1 {
	position: absolute;
	font-weight: 300;
	font-size: 4.4em;
	line-height: 1;
	letter-spacing: 6px;
	margin: 0;
	top: 12%;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	word-spacing: -0.3em;
}

.pt-page h1 span {
	font-family: 'Satisfy', serif;
	font-weight: 400;
	font-size: 40%;
	text-transform: none;
	word-spacing: 0;
	letter-spacing: 0;
	display: block;
	opacity: 0.4;
}*/

.pt-page-1 {
	background: url(../pic/bgimg1.jpg);
	background-size: 100% 100%;
}
#page1_up{
	position: absolute;
	top: 0;
	margin: 0;
	padding: 0;
	display: block;
	width: 100%;
	height: 50%;
}

#page1_down{
	position: absolute;
	bottom: 0;
	margin: 0;
	padding: 0;
	display: block;
	width: 100%;
	height: 50%;
}

#up_edge{
	position: absolute;
	top: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 0;
}

#down_edge{
	position: absolute;
	bottom: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 0;
}

#logo_blue, #logo_tran{
	position: absolute;
	z-index: 10;
	width: 250px;
	top: 34%;
	left: 43%;
}

#logo_tran{
	display: none;
}

.pt-page-2 {
	background: #7bb7fa;
}

.pt-page-3 {
	background: #60d7a9;
}

.pt-page-4 {
	background: #fdc162;
}

.pt-page-5 {
	background: #fd6a62;
}

.pt-page-6 {
	background: #f68dbb;
}

.pt-touch-button {
	width: 40px;
	cursor: pointer;
	position: absolute;
	z-index: 10;
}

.previous{
	opacity: 0;
	top: 51%;
	left: 10%;
}

.next{
	opacity: 0;
	top: 52%;
	left: 88%;
}
