/*-----------------body-----------------*/
#body {
	background-color:#FFFFFF;
}

/*-----------------container-----------------*/
#container {
	background-color:#FFFFFF;
	margin:auto;
	width:1000px;
}

/*-----------------heading-----------------*/
#header {
	background-image:url("./image/title.png");
	width:1000px;
	height:100px;
}
/*#title {
	font-size:50px;
	color:#FFFFFF;
}*/

/*-----------------topmenu-----------------*/
#topmenu {
	background-color:transparent;
	width:1000px;
	height:25px;
}
#topmenu-table {
	margin-left:-10px;
}
/*#menu-homepage:link {
    text-decoration:none;
    color:#FFFFFF;
}
#menu-homepage:visited {
    text-decoration:none;
    color:#FFFFFF;
}
#menu-homepage:hover {
    text-decoration:none;
	color:#FFFFFF;
}
#menu-homepage:active {
    text-decoration:none;
    color:#FFFF00;
}*/

/*-----------------left-----------------*/
/*#left {
	float:left;
	background-color:#FFFFFF;
	width:200px;
	height:1000px;
}*/

/*-----------------center-----------------*/
#center {
	float:left;
/*	background-image:url("./img/main.png");*/
	background-color:#FFFFFF;
	width:1000px;
	height:800px;
}

#center-tile-1-1 {
	float:left;
	margin-left:115px;
	margin-top:50px;
}
#center-tile-1-2 {
	float:left;
	margin-left:20px;
	margin-top:50px;
}
#center-tile-1-3 {
	float:left;
	margin-left:20px;
	margin-top:50px;
}
#center-tile-1-4 {
	float:left;
	margin-left:20px;
	margin-top:50px;
}
#center-tile-2-1 {
	float:left;
	margin-left:-675px;
	margin-top:220px;
}
#center-tile-2-2 {
	float:left;
	margin-left:-475px;
	margin-top:220px;
}
#center-tile-2-3 {
	float:left;
	margin-left:-275px;
	margin-top:220px;
}
/*#center-tile-3-1 {
	float:left;
	margin-left:-678px;
	margin-top:390px;
}
#center-tile-3-2 {
	float:left;
	margin-left:-478px;
	margin-top:390px;
}
#center-tile-3-3 {
	float:left;
	margin-left:-278px;
	margin-top:390px;
}*/
#center-bee-left {
	float:left;
	margin-left:-900px;
	margin-top:280px;
}

/*-----------------right-----------------*/
/*#right {
	float:left;
	background-color:#FFFFFF;
	width:200px;
	height:1000px;
}
.rightnav:link {
    text-decoration:none;
    color:#0000FF;
}
.rightnav:visited {
    text-decoration:none;
    color:#0000FF;
}
.rightnav:hover {
    text-decoration:none;
    color:#CC3300;
}
.rightnav:active {
    text-decoration:none;
    color:#CC3300;
}*/

/*-----------------footer-----------------*/
#footer {
	background-color:#AAAAAA;
	text-align:center;
}