/*-----------------body-----------------*/
#body {
	background-color:#FFFFFF;
}

/*-----------------container-----------------*/
#container {
	background-color:#FFFFFF;
	margin:auto;
	width:1000px;
}

/*-----------------heading-----------------*/
#header {
	background-image:url("./image/title.png");
	width:1000px;
	height:100px;
}
/*#title {
	font-size:50px;
	color:#FFFFFF;
}*/

/*-----------------topmenu-----------------*/
#topmenu {
	background-color:transparent;
	width:1000px;
	height:25px;
}
#topmenu-table {
	margin-left:-10px;
}
/*#menu-homepage:link {
    text-decoration:none;
    color:#FFFFFF;
}
#menu-homepage:visited {
    text-decoration:none;
    color:#FFFFFF;
}
#menu-homepage:hover {
    text-decoration:none;
	color:#FFFFFF;
}
#menu-homepage:active {
    text-decoration:none;
    color:#FFFF00;
}*/
#hr {
	margin-top:50px;
}
/*-----------------left-----------------*/
#left {
	float:left;
	background-color:#FFFFFF;
	width:150px;
	height:1000px;
}

/*-----------------center-----------------*/
#center-1 {
	float:left;
	background-image:url("./image/main-1.png");
	width:700px;
	height:1000px;
}
#center-2 {
	float:left;
	background-image:url("./image/main-2.png");
	width:700px;
	height:1000px;
}
#center-description {
	margin-top:50px;
	margin-left:60px;
	margin-right:60px;
	line-height:30px;
	text-indent:20px;
}
#center-content {
	margin-left:60px;
	margin-right:60px;
	line-height:30px;
	text-indent:20px;
}
/*-----------------right-----------------*/
#right {
	float:left;
	background-color:#FFFFFF;
	/*margin-left:132px;*/
	width:150px;
	height:1000px;
}
.rightnav:link {
    text-decoration:none;
    color:#0000FF;
}
.rightnav:visited {
    text-decoration:none;
    color:#0000FF;
}
.rightnav:hover {
    text-decoration:none;
    color:#CC3300;
}
.rightnav:active {
    text-decoration:none;
    color:#CC3300;
}

/*-----------------footer-----------------*/
#footer {
	background-color:#AAAAAA;
	text-align:center;
}