body, html {
  margin: 0;
  overflow: hidden;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  transition: opacity 400ms;
}

body, .onepage-wrapper, html {
  display: block;
  position: static;
  padding: 0;
  width: 100%;
  height: 100%;
}

.onepage-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  padding: 0;
  -webkit-transform-style: preserve-3d;
}

.onepage-wrapper .section {
  width: 100%;
  height: 100%;
}

.onepage-pagination {
  position: absolute;
  right: 10px;
  top: 50%;
  z-index: 5;
  list-style: none;
  margin: 0;
  padding: 0;
}
.onepage-pagination li {
  padding: 0;
  text-align: center;
}
.onepage-pagination li a{
  padding: 10px;
  width: 4px;
  height: 4px;
  display: block;
  
}
.onepage-pagination li a:before{
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  background: rgba(0,0,0,0.85);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.onepage-pagination li a.active:before{
  width: 10px;
  height: 10px;
  background: none;
  border: 1px solid black;
  margin-top: -4px;
  left: 8px;
}

.disabled-onepage-scroll, .disabled-onepage-scroll .wrapper {
  overflow: auto;
}

.disabled-onepage-scroll .onepage-wrapper .section {
  position: relative !important;
  top: auto !important;
  left: auto !important;
}
.disabled-onepage-scroll .onepage-wrapper {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  transform: none !important;
  -ms-transform: none !important;
  min-height: 100%;
}


.disabled-onepage-scroll .onepage-pagination {
  display: none;
}

body.disabled-onepage-scroll, .disabled-onepage-scroll .onepage-wrapper, html {
  position: inherit;
}

html {
  height: 100%;
}
body {
  background: #E2E4E7;
  padding: 0;
  font-family: Arial, Microsoft Yahei;
  position: relative;
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}   
.wrapper {
  height: 100%;
  height: 100%;
  margin: 0 auto; 
  overflow: hidden;
}
.main {
  float: left;
  width: 100%;
  margin: 0 auto;
} 
.page1{
  background-image: url(pic/bgimg.jpg);
  background-size: 100% 100%;
}
.page1 h1{
  margin-top: 40%; 
  font-size: 500%;
  margin-bottom: 0;
  padding-bottom: 0;
}
.page1 h2{
  font-size: 250%;
}
.page1 p{
  font-size: 150%;
}
.page2{
  background: url(pic/page2.jpg);
  color: #ecf8f2;
}
.page2 h1{
  font-family: DFKai-SB;
  font-size: 200%;
}
.page2 p,li{
  font-size: 140%;
  font-family: Arial,KaiTi;
}
#page2_11{
  margin-top: 20%;
}
#page2_12{
  margin-top: 13%;
}
#page2_21{
  margin-top: 22%;
}
#page2_22{
  margin-top: 10%;
  text-align: right;
}
#myCarousel{
  border:2px #c2e8fa inset;
  border-radius: 5px;
}
.page3{
  background: url(pic/page3.jpg);
  color: #f8f7df;
  text-align: center;
}
#left_pro{
  margin-top: 80%;
  font-size: 400%;
  opacity: 0.15;
}
#right_pro{
  margin-top: 80%;
  font-size: 400%;
  opacity: 0.15;
}
.page3 h1{
  font-family: Arial,Microsoft Yahei;
}
.page3 img, .page3 h1, .page3 p{
  position: relative;
}
#wifi_img{
  margin-top: 15%;
}
#wifi_h1{
  margin-top: 5%;
}
#bus{
  display: none;
}
#bus_img{
  opacity: 0;
  margin-top: 15%;
}
#bus_content{
  opacity: 0;
}
#bus_h1{
  margin-top: 5%;
}
#hack{
  display: none;
}
#hack_img{
  opacity: 0;
  margin-top: 20%;
}
#hack_content{
  opacity: 0;
}
#hack_h1{
  margin-top: 8%;
}
.page4{
  background: url(pic/page4.jpg);
  color: #eaebf3;
}
.page4 h1{
  padding-bottom: 5px;
  margin-top: 10px;
}
#cehua, #kaifa{
  margin-top: 15%;
  margin-left: 5%;
}
#sheji,#fazhan{
  margin-top: 15%;
  margin-left: 5%;
}
.box {
  border: 5px solid #dedfe6;
  cursor: pointer;
  height: 250px;
  width: 90%;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
  -moz-box-shadow: 1px 1px 1px 1px #ccc;
  box-shadow: 1px 1px 1px 1px #ccc;
}
.box img{
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out; 
  transition: all 300ms ease-out;
}
.box .caption {
  background-color: rgba(0,0,0,0.8);
  position: absolute;
  color: #eeeff5;
  z-index: 100;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out; 
  transition: all 300ms ease-out;
}
.box .scale-caption  {
  opacity: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  text-align: left;
}
.box:hover .scale-caption  {
  opacity: 1;
}
.box:hover img{
  -moz-transform: scale(1.4);
  -o-transform: scale(1.4);
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}
.page5{
  background-color: #a8c72e;
  color: #fefeee;
}
#page5_left{
  text-align: center;
}
#join_us_img{
  width: 40%;
  margin-top: 30%;
  margin-bottom: 30px;
}
#try_to_find{
  font-size: 200%;
}
#page5_right h1{
  margin-top: 30%;
  margin-bottom: 20px;
  font-size: 300%;
}
#page5_right p{
  font-size: 120%;
}
#contact_way{
  margin-top: 20px;
  text-align: right;
}
#contact_way img{
  width: 35px;
}